.env
.DS_Store
*.log
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/awscliv2.zip
terraform/aws/
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/awscliv2.zip
terraform/aws/
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/awscliv2.zip
terraform/aws/
*.zip
